In [5]:
for number in range(1,101):

    if number % 15 == 0:
        print('Fizz\nBurz')
    elif number % 3 == 0:
        print('Fizz')
    elif number % 5 == 0:
        print('Burz')

    else:
        print(number)
    number += 1

1
2
Fizz
4
Burz
Fizz
7
8
Fizz
Burz
11
Fizz
13
14
Fizz
Burz
16
17
Fizz
19
Burz
Fizz
22
23
Fizz
Burz
26
Fizz
28
29
Fizz
Burz
31
32
Fizz
34
Burz
Fizz
37
38
Fizz
Burz
41
Fizz
43
44
Fizz
Burz
46
47
Fizz
49
Burz
Fizz
52
53
Fizz
Burz
56
Fizz
58
59
Fizz
Burz
61
62
Fizz
64
Burz
Fizz
67
68
Fizz
Burz
71
Fizz
73
74
Fizz
Burz
76
77
Fizz
79
Burz
Fizz
82
83
Fizz
Burz
86
Fizz
88
89
Fizz
Burz
91
92
Fizz
94
Burz
Fizz
97
98
Fizz
Burz

In [1]:
number = 1
while number < 11:
    if number == 5:
        print(number)
        break
    print(number)
    number += 1
else:
    print('ALL WENT WELL')

1
2
3
4
5

In [ ]:
import random

my_number = random.randint(1,10)

chance = 4
active = True

while active:
    user_number = int(input('Guess a number: '))
    if(user_number == my_number):
        print('You won!!!')
        break
    elif(user_number < my_number):
        print('Number is too low',end=', ')
        print(f'you have {chance} chance left')
        chance -= 1
    else:
        print('Numer is too high',end=', ')
        print(f'you have {chance} chance left')
        chance -= 1
    if(chance == 0):
        break

Guess a number: 5
Number is too low, you have 4 chance left

In [17]:
a = range(10,1,-1)

a

range(10, 1, -1)

In [26]:
user_number = int(input('Enter a number: '))

number = user_number

while number != 1:
    
    if(number % 2 != 0):
        number = number * 3 + 1
        
    elif(number % 2 == 0):
        number = number//2
        
    print(number)

else:
    print(number)

Enter a number: 4444554543334
2222277271667
6666831815002
3333415907501
10000247722504
5000123861252
2500061930626
1250030965313
3750092895940
1875046447970
937523223985
2812569671956
1406284835978
703142417989
2109427253968
1054713626984
527356813492
263678406746
131839203373
395517610120
197758805060
98879402530
49439701265
148319103796
74159551898
37079775949
111239327848
55619663924
27809831962
13904915981
41714747944
20857373972
10428686986
5214343493
15643030480
7821515240
3910757620
1955378810
977689405
2933068216
1466534108
733267054
366633527
1099900582
549950291
1649850874
824925437
2474776312
1237388156
618694078
309347039
928041118
464020559
1392061678
696030839
2088092518
1044046259
3132138778
1566069389
4698208168
2349104084
1174552042
587276021
1761828064
880914032
440457016
220228508
110114254
55057127
165171382
82585691
247757074
123878537
371635612
185817806
92908903
278726710
139363355
418090066
209045033
627135100
313567550
156783775
470351326
235175663
705526990
352763495
1058290486
529145243
1587435730
793717865
2381153596
1190576798
595288399
1785865198
892932599
2678797798
1339398899
4018196698
2009098349
6027295048
3013647524
1506823762
753411881
2260235644
1130117822
565058911
1695176734
847588367
2542765102
1271382551
3814147654
1907073827
5721221482
2860610741
8581832224
4290916112
2145458056
1072729028
536364514
268182257
804546772
402273386
201136693
603410080
301705040
150852520
75426260
37713130
18856565
56569696
28284848
14142424
7071212
3535606
1767803
5303410
2651705
7955116
3977558
1988779
5966338
2983169
8949508
4474754
2237377
6712132
3356066
1678033
5034100
2517050
1258525
3775576
1887788
943894
471947
1415842
707921
2123764
1061882
530941
1592824
796412
398206
199103
597310
298655
895966
447983
1343950
671975
2015926
1007963
3023890
1511945
4535836
2267918
1133959
3401878
1700939
5102818
2551409
7654228
3827114
1913557
5740672
2870336
1435168
717584
358792
179396
89698
44849
134548
67274
33637
100912
50456
25228
12614
6307
18922
9461
28384
14192
7096
3548
1774
887
2662
1331
3994
1997
5992
2996
1498
749
2248
1124
562
281
844
422
211
634
317
952
476
238
119
358
179
538
269
808
404
202
101
304
152
76
38
19
58
29
88
44
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1
1

In [2]:
user_number = int(input('Enter a number: '))

if user_number %2:
    print('even')

Enter a number: 6

In [27]:
user_input = input("Enter anything: ")

if user_input[::-1] == user_input:
    print(f'{user_input} is a palindrome')

Enter anything: ytty
ytty is a palindrome

In [58]:
count = 1
for i in range(10,0,-1):
    one = '*'* i
    on = ' '* i
    two = '*'* count
    tw = ' '* count

    print(f'{one}{tw}{two}{on}{one}')
    count += 1

********** *          **********
*********  **         *********
********   ***        ********
*******    ****       *******
******     *****      ******
*****      ******     *****
****       *******    ****
***        ********   ***
**         *********  **
*          ********** *

In [17]:
user_input = int(input('Enter a number: '))

old_number = 1
for i in range(user_input):
    new_number = i + old_number
    print(new_number)
    old_number = new_number

Enter a number: 4
1
2
4
7

In [36]:
ord('¡')

161

In [47]:
import random

character = random.randint(ord('A'),ord('z'))

In [5]:
ord('A')
upperCase = []
lowerCase = []
for i in range(ord('A'),ord('Z')+1):
    upperCase.append(chr(i))
for i in range(ord('a'),ord('z')+1):
    lowerCase.append(chr(i))

In [7]:
print(upperCase,end='')
print()
print(lowerCase,end='')

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [8]:
print(lowerCase
      
      [::-1])

['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [40]:
ord('.')

46

In [41]:
chr(46)

'.'

In [47]:
name = 'my name is.'
name.find('l')

-1

In [7]:
user_number = int(input('Enter a new number: '))
i= 0
real_number = 1
print(0)
first_number = 1
while i < user_number:
    print(first_number)
    second_number = first_number + real_number
    first_number = second_number
    i+=1

Enter a new number: 4
0
1
2
3

In [ ]:
1+1=2 1+2=3 2+3=5 3+5=8

In [17]:
user_number = int(input('Enter number: '))
i = 0
num1,num2 =0,1

while i < user_number:
    num3 = num1 + num2
    num1, num2 = num2, num3    
    print(num1)
    i += 1

Enter number: 6
1
1
2
3
5
8

In [63]:
n = int(input('Enter number: '))

factorial = 1
for i in range(1,n+1):
    factorial = factorial * i
print(factorial)

Enter number: 5
120

In [62]:
name = 'String'
s,g,i,t,n = name[0], name[-1],name[-3],name[1],name[-2]
print(g+i+n+t)

gint

In [64]:
n = int(input('Enter number: '))

factorial = 1
for i in range(1,n+1):
    factorial = factorial +i
    print(factorial)

Enter number: 5
2
4
7
11
16

In [76]:
a = my.split()

['uysgsfffstttsrauuat']

In [77]:
my.splitlines()

['uysgsfffstttsrauuat']

In [117]:
s = 'This is the. world of Python'
s = s.count('t')
s

2

In [115]:
s.replace('Python','Java')

'THIS IS THE. WORLD OF PYTHON'

In [84]:
len??

In [97]:
s = s.replace('o','=')

'This is the. w=rld =f Pyth=n'

In [101]:
import string

string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [102]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [103]:
string.hexdigits

'0123456789abcdefABCDEF'

In [111]:
n = 1
s = f'this is number {n}'

In [112]:
print(s)

this is number 1

In [132]:
f'{10:20}'

'                  10'

In [47]:
smiley = '\U0001f600'
for i in range (1,11,2):
    print(f'{smiley *i:<10}')

😀
😀😀😀
😀😀😀😀😀
😀😀😀😀😀😀😀
😀😀😀😀😀😀😀😀😀

In [16]:
r = '*'
for i in range(10):
    print(f'{r*(i+1):<10} {r *(10 -i):<10} {r *(10 -i):>10}  {r *(i+1):>10}')

*          ********** **********           *
**         *********   *********          **
***        ********     ********         ***
****       *******       *******        ****
*****      ******         ******       *****
******     *****           *****      ******
*******    ****             ****     *******
********   ***               ***    ********
*********  **                 **   *********
********** *                   *  **********

In [72]:
import time
import os

dividend = int(input('Enter dividend: '))
divisor = int(input('Enter divisor: '))
start = time.time()
divider = divisor
count = 0;
active = True#
while active:
    if dividend >= divisor:
        divisor += divider
        count+= 1
    else:
        active = False

print(count)
print(time.time()-start)

Enter dividend: 100
Enter divisor: 1
100
1.6493998009731098e+18

In [25]:
abs()

42

In [58]:
i, j = divmod(50,8)
print(f'{i}.{j}')

6.2

In [59]:
50/8

6.25

In [43]:
name = 'segun'
print(f'my name is {name}')

my name is segun

In [64]:
from

list_of_names = []

for i in range(100):
    name = 'userid'+str(i+1)
    list_of_names.append(name)
print(list_of_names.index('userid87'))

86

In [6]:
name = "*"

for i in range(0,11):
    
    print(f"{name *i:<10}  {name *i:>10}{name * (10 -i):<10}")

                      **********
*                    **********
**                  **********
***                **********
****              **********
*****            **********
******          **********
*******        **********
********      **********
*********    **********
**********  **********

In [190]:
message = 'Florence & Sons Group of Company,\n312 Herbert Merculy way,\nSabo Yaba.\n 07011278668'
pounds  = '#'

columns = ['products','qty','price','total']
product = ['maggi','salt','rice']
qty = []
price = [10,50,800]


total_price = []
s = '_____'

i = 0
while i<len(product):
    qty.append(int(input(product[i])))
    total_price.append(qty[i] * price[i])
    i += 1
    
total_qty = sum(qty)
print(f'{pounds* len(message)}\n{message:>30}\n{pounds* len(message)}')
print(f'{columns[0]:>30} | {columns[1]:>2}| {columns[2]:>2} | {columns[3]:>2}')

i = 0
while i < len(product):
    print(f'{product[i]:>30} | {qty[i]:>2} | {price[i]:>3}   |')
    i+=1
print(f'{columns[3]:>30} | {total_qty:>2} | {s:>3} | {sum(total_price):>3}')
bye = 'Good Bye'

print(f'\n{(pounds*len(bye))*2:^80} \n{bye:^80} \n{(pounds*len(bye))*2:^80}')

maggi1
salt1
rice3
##################################################################################
Florence & Sons Group of Company,
312 Herbert Merculy way,
Sabo Yaba.
 07011278668
##################################################################################
                      products | qty| price | total
                         maggi |  1 |  10   |
                          salt |  1 |  50   |
                          rice |  3 | 800   |
                         total |  5 | _____ | 2460

                                ################
                                    Good Bye
                                ################

In [182]:
a,b = divmod(45,2)

In [124]:
a,b

(22, 1)

In [125]:
t = {'Name': 'segun',
    'Age': 12,
    'Sex': 'male',
    'Hubby':['Python','Java'],
    'Is wife beater': False}

In [126]:
for key,values in t.items():
    print(key ,' ', values)

Name   segun
Age   12
Sex   male
Hubby   ['Python', 'Java']
Is wife beater   False

In [127]:
print(t.items())

dict_items([('Name', 'segun'), ('Age', 12), ('Sex', 'male'), ('Hubby', ['Python', 'Java']), ('Is wife beater', False)])

In [92]:
for key in t:
    print(key['a'])

TypeError: string indices must be integers

In [133]:
prof = dict(name ='segun',age = 12)

In [134]:
prof

{'name': 'segun', 'age': 12}

In [174]:
lst = ['Segun','sege','oko','mama','e']
lst.extend(['Kurubete','Kurubete','koga','ju','go','lo'])

In [175]:
fruit = ['apple','orange']
fruit.extend(['pear'])

In [176]:
fruit.count('apple')
if 'apple' in fruit:
    fruit.remove('apple')

In [177]:
lst.sort(key=len)
print(lst,end='')

['e', 'ju', 'go', 'lo', 'oko', 'sege', 'mama', 'koga', 'Segun', 'Kurubete', 'Kurubete']

In [203]:
i = 1
while i < 13:
    j = 1
    i+=1
    while j < 13:
        print(f'{i} X {j} = {i*j}',end =' ')
        print()
        j+=1
    print(end =' \n')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
4 X 12 = 48

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
7 X 11 = 77
7 X 12 = 84

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
8 X 11 = 88
8 X 12 = 96

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
9 X 11 = 99
9 X 12 = 108

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
10 X 11 = 110
10 X 12 = 120

11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110
11 X 11 = 121
11 X 12 = 132

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120
12 X 11 = 132
12 X 12 = 144

13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130
13 X 11 = 143
13 X 12 = 156

In [ ]:
def is_valid_brackets(brackets):

In [9]:
import random

random.seed(76)
random.randint(0,10)
random.randint(0,100)
random.randrange(0,10,2)
random.randrange(0,10,2)
random.randrange(0,10,2)

4

In [10]:
random.random()

0.05276590897233269

In [16]:
l = [1,2,3,4,5,6,7,8]
random.choice(l)

8

In [20]:
random.shuffle(l)

In [21]:
l

[7, 4, 8, 1, 6, 2, 3, 5]

In [22]:
def get_digit(number, position):
    '''return digit at position in number, counting from right'''
    return number//(10**position)%10

In [23]:
help(get_digit)

Help on function get_digit in module __main__:

get_digit(number, position)
    return digit at position in number, counting from right

In [29]:
get_digit(25434,4)

2